
<footer>
  <img src="/img/sublogo.png" class="img-responsive" id="sublogo"/>
  <img src="/img/copyrightpic.jpg" class="img-responsive" id="footerpic"/
  <p> Made with a Mission Copyright &copy 2017 </p>

</footer>
    <script src="/js/main.js"></script>
  </body>
</html>
