
<footer>
<div class="wow fadeInUp">
<div class="row">
  <div class="col-xs 12">
    <img src="/img/sublogo.png" class="img-responsive" id="sublogo"/>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" id="copyright-txt">
    <img src="/img/copyrightpic.jpg" class="img-responsive" id="footerpic"/
    <p> Made with a Mission (Kitty P.) Copyright &copy 2017 </p>
  </div>
 </div>
</div>

</footer>
    <script src="/js/main.js"></script>
  </body>
</html>
