<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Code & Stay Woke</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
  <div class="jumbotron">
    <img src="/img/codewoke-logo.png" class="img-responsive" id="logo"/>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/orgs/stats"> Stats </a> </li>
        <li><a href="/orgs">Orgs</a></li>
        <li><a href="orgs/sources">Sources</a></li>
      </ul>
  </div>



