<% include ./partials/header %>
<h1><%= message %></h1>

<div class ="row">
  <div class="col-xs-12">
    <p>Code & Stay Woke is to bring social and cultural awareness to a
    growing, diverse tech community by enabling the community to be
    informed of social issues.</p>
  </div>
</div>


<% include ./partials/footer %>
