<% include ./partials/header %>
<h1><%= message %></h1>

<div class="wow slideInLeft">

<div class ="row">
  <div class="col-xs-12" id="index-text">
    <p><em>Code & Stay Woke</em> is to bring social and cultural awareness to a
    growing, diverse tech community by enabling the community to be
    informed of social issues.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" id="next-link">
    <p>What is the State of the Tech Community?...click next and found out.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" id="next-link">
    <a href="/orgs/stats"> Next >>>> </a>
  </div>
</div>

</div>


<% include ./partials/footer %>
