
body{
  font-family: 'Courier';
}

/*** HEADER SECTION ***/

.jumbotron {
  background:url('/img/jumbotron-pic.jpg') no-repeat center;
  background-size: cover;
  border-bottom: 2px solid #ff4d4d;
}

#logo {
  border:4px solid #000000;
  margin:auto;
  width:60%;
}

.menu {
  background-color:#ffffff;
  border:2px solid #000000;
  list-style: none;
  font-size:1.5em;
  margin:auto;
  margin-top:4%;
  width:40%;
}

.menu li {
  display: inline;
  padding:3%;
}

.menu li a {
  color:#000000;
}

.menu li a:hover {
  background-color:#ff4d4d;
  text-decoration:underline;
}

/*** INDEX.EJS SECTION ***/

#index-text p {
  background-color:#d9d9d9;
  font-size: 2em;
  padding:5%;
  text-align:center;
}

#next-link p {
  font-size: 1em;
  text-align: center;
}

#next-link a {
  font-size: 1.1em;
  margin:2% 44%;
}

/*** END OF INDEX EJS ***/


/*** STATS SECTION ***/

/*** chart 1 ***/

#stats-header h1 {
  font-size:3em;
  text-align: center;
  text-decoration: underline;
  text-decoration-color:#ff4d4d;
}

#stat-text h2 {
  font-size: 2em;
  padding:2%;
}

#stat-text p {
  font-size:1.5em;
  text-align: center;
  margin-left:20%;
}

#graph1 {
  width:90%;
  margin:1% 6%;
}

#graph2, #graph4, #graph6 {
  background-color:#e6e6e6;
  border:1px solid #000000;
  width:40%;
  margin:1% 4%
}

#graph3, #graph5, #graph7 {
  background-color:#cccccc;
  border:1px solid #000000;
  width:40%;
  margin:1% 4%;
}

.chart {
  background-color: #cccccc;
  border:1px solid #000000;
  padding:4%;
}

.chart div {
  font: 20px courier;
  background-color:aqua;
  border: 1px solid #000000;
  text-align: right;
  padding:1%;
  margin:1%;
  color: black;
 }

.chart div:hover {
  background-color:red;
  text-decoration:underline;
}

/*** chart 2 ***/

.chartlist {
  float:left;
  list-style:none;
  margin-top:4%;
}

.chartlist li {
 padding:2%;
}

.chart2 {
  padding:4%;
  float:left;
  margin-left:-4%;
  width:10%;
  }

.chart2 div {
  font: 18px courier;
  background-color:aqua;
  border:1px solid #000000;
  text-align: right;
  padding:1%;
  margin:1%;
  color: black;
 }

.chart2 div:hover {
  background-color:red;
  text-decoration:underline;
}

/*** chart 3 ***/

.chartlist2 {
  clear:both;
  float:left;
  list-style:none;
  margin-top:5%;
}

.chartlist2 li{
  margin-top:4%;
  padding:4%;
}

.chart3 {
  float:left;
  margin-top:4%;
  margin-left:1%;
  padding:2%;
  }

.chart3 div {
  font: 16px courier;
  background-color:aqua;
  border:1px solid #000000;
  text-align: right;
  padding:1%;
  margin:1%;
  color: black;
}

.chart3 div:hover {
  background-color: red;
}


/*** Chart 4 ****/

.chartlist3 {
  list-style: none;
  float:left;
  margin-top: 4%;
}


.chartlist3 li {
  font-size:1.5em;
}


.chart4 {
  float:left;
  padding:4%;
}

.chart4 div {
  font-family:courier;
  background-color:#ff4d4d;
  border:1px solid #000000;
  text-align: right;
  padding:1%;
  margin:1.5%;
  color: black;
 }

 .chart4 div:hover {
  background-color:aqua;
}


/*** Chart 5 ***/

.chartlist4 {
  list-style: none;
  float:left;
  font-size:1.25em;
  margin-top: 4%;
}

.chart5 {
  float:left;
  padding:4%;
  width:8%;

}

.chart5 div {
  font-family:courier;
  background-color:#ff4d4d;
  border:1px solid #000000;
  text-align:right;
  padding:2%;
  margin:1%;
  color: black;
 }

 .chart5 div:hover {
  background-color:aqua;
}

/*** Chart 6 ***/

.chartlist5 {
  list-style: none;
  float:left;
  font-size:1.5em;
  margin-top:4%;
}

.chart6 {
  float:left;
  padding:4%;
  width:%;
}

.chart6 div {
  font-family:courier;
  font-size:1.25em;
  background-color:#cc00cc;
  border:1px solid #000000;
  text-align:right;
  padding:1%;
  margin:1%;
  color: black;
}

.chart6 div:hover {
  background-color:#ff4d4d;
}

/*** Chart 7 ***/

.chartlist6 {
  list-style: none;
  float:left;
  font-size:1.5em;
  margin-top:2%;
 }

.chartlist6 li {
  padding:2%;
}

.chart7 {
  float:left;
  padding:2%;
}

.chart7 div {
  font-family:courier;
  font-size: 1.25em;
  background-color:#cc00cc;
  border:1px solid #000000;
  text-align:right;
  margin:1%;
  color: black;
}

.chart7 div:hover {
  background-color:#ff4d4d;
}

#citation a {
  color:black;
  margin:1% 8%;
}

/**** END OF STATS SECTION ****/

/*** ORGS SECTION ***/
  #orgs-header h1 {
    font-size:2em;
    text-align:center;
    text-decoration: underline;
    text-decoration-color:#ff4d4d;
  }

  #dropdown {
    background-color:#cccccc;
    border:1px solid #000000;
    padding:2%;
    font-size: 1em;
    text-align: center;
  }

/*** END OF ORGS SECTION ***/

/*** DATA SECTION ***/
  #data-header h1{
    font-size:2.5em;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:#ff4d4d;
  }

  #data-txt {
    text-align:center;
  }

  #data-list h4 {
    text-decoration:underline;
    text-decoration-color:#ff4d4d;
    font-size: 1.5em;
  }

  #data-list p {
    font-size:1em;
  }

/*** END OF DATA SECTION ***/

/*** SOURCES SECTION ***/
  #source-header h1{
    font-size:3em;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:#ff4d4d;
    margin:4% 0%;
  }

  #sourcebox a {
    color:#000000;
    text-align:center;
  }

  #sourcebox a:hover {
    background-color: #ff4d4d;
  }

  #source1, #source2, #source3, #source4, #source5, #source6, #source7, #source8, #source9 {
    border:1px solid #000000;
    width:85%;
  }

  #source4 {
    width:260px;
    height:160px;
  }

  #source7 {
    width:85%;
  }

  #second-row, #third-row {
    margin-top:4%;
  }

/*** END OF SOURCES SECTION ***/

/*** FOOTER SECTION ***/

footer {
  background-color:#00b3b3;
  border-top: 2px solid #000000;
  margin:4% 0%;
}

#sublogo {
  width:10%;
  margin:auto;
}

#footerpic {
  border:1px solid #ff4d4d;
  border-radius:80%;
  float:left;
  width:2%;
  margin-left:30%;
  margin-bottom:2%;
}

#copyright-txt p{
  float:left;
  margin-left:1%;
}

/*** END OF FOOTER ***/






