<% include ../partials/header %>

<div class="wow fadeInUp">

<div class="row">
  <div class="col-xs-12" id="source-header">
    <h1>Sources</h1>
  </div>
</div>

<!------- first row   --------->
<div class ="row">
  <div class="col-xs-4" id="sourcebox">
   <a href="https://www.progcode.org/">
    <img src="/img/progcode.png" class="img-responsive" id="source1"/>
    Progressive Coders Network
   </a>
  </div>

  <div class="col-xs-4" id="sourcebox">
    <a href="https://www.codecorps.org/">
    <img src="/img/codecorps.png" class="img-responsive" id="source2"/>
    Codecorps
    </a>
  </div>

  <div class="col-xs-4" id="sourcebox">
    <a href="http://alwaysforwardus.com/">
      <img src="/img/alwaysforward.png" class="img-responsive" id="source3"/>
      AlwaysForward: Tracking Congress
    </a>
  </div>

</div>

<!------  Second Row -------->

<div class ="row" id="second-row">

  <div class="col-xs-4" id="sourcebox">
    <a href="https://blacklivesmatter.com/">
      <img src="/img/blm.png" class="img-reponsive" id="source4"/>
      Black Lives Matter
    </a>
  </div>


  <div class="col-xs-4" id="sourcebox">
     <a href="https://www.womenwhocode.com/">
      <img src="/img/wwc.png" class="img-responsive" id="source5"/>
      Women Who Code
     </a>
  </div>

  <div class="col-xs-4" id="sourcebox">
     <a href="http://www.blackgirlscode.com/">
      <img src="/img/bgc.png" class="img-responsive" id="source6"/>
      Black Girls Code
     </a>
  </div>

</div>

<!--------  Third Row ----------->

<div class ="row" id="third-row">
  <div class="col-xs-4" id="sourcebox">
    <a href="https://lesbianswhotech.org/">
      <img src="/img/lesbiantech.png" class="img-reponsive" id="source7"/>
      Lesbians Who Tech
    </a>
  </div>


  <div class="col-xs-4" id="sourcebox">
    <a href="http://hackernest.com/">
      <img src="/img/hackernest.png" class="img-responsive" id="source8"/>
      Hackernest
    </a>
  </div>

  <div class="col-xs-4" id="sourcebox">
    <a href="https://issuevoter.org/">
      <img src="/img/issuevoter.png" class="img-responsive" id="source9"/>
      IssueVoter
    </a>
  </div>
</div>
</div>






<% include ../partials/footer %>
