<% include ../partials/header %>

<div class="wow slideInLeft">

<div class="row>"
  <div class = "col-xs-10" id="stats-header">
    <h1>Stats</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-10" id="stat-text">

      <h2> Did you know...</h2>

      <p> while 17% of the overall American labor force are foreign-born,
          while 60% of tech in the Silicon Valley are foreign-born.* </p>

      <p> This brings in new implications for the tech industry in an
          administration that fosters immigration restrictions, border
          wall, and banning certain groups of people.</p>
  </div>
 </div>
</div>

<!--- CHART ROW 1  ---->

<div class="wow slideInRight">

<div class="row">

  <div class="col-xs-8" id="graph1">
    <div class="chart">
      <h2>Foreign-Born Workforce</h2>
      <p> 17% foreign-born in American Workforce vs. 60% foreign-born
          in Silicon Valley's Tech Sector*</p>
    </div>

 </div>


<!---- END ----->

<!--- CHART ROW 2 ---->

<div class = "row">

  <div class="col-xs-6" id="graph2">
    <h4> Workforce by Race/Ethnicity </h4>
    <h4> Overall U.S. Private Work Sector**<h4>
      <ul class="chartlist">
        <li>Whites</li>
        <li>Asians </li>
        <li>Latinos </li>
        <li>Blacks</li>
      </ul>
    <div class="chart2"></div>
 </div>

  <div class="col-xs-6" id="graph3">
    <h4> Workforce by Race/Ethnicity </h4>
    <h4> Tech Sector<h4>
      <ul class="chartlist2">
        <li>Whites</li>
        <li>Asians </li>
        <li>Latinos </li>
        <li>Blacks</li>
      </ul>
   <div class="chart3"></div>
  </div>

</div>
<!-----  END  ---->

<!--- CHART ROW 3 --->

<div class ="row">

  <div class="col-xs-6" id="graph4">
    <h4>Workforce by Gender</h4>
    <h4>Overall U.S. Private Work Sector</h4>
    <ul class="chartlist3">
      <li>Men</li>
      <li>Women</li>
    </ul>
    <div class="chart4"></div>
  </div>

  <div class="col-xs-6" id="graph5">
    <h4>Workforce by Gender</h4>
    <h4> Tech Sector<h4>
    <ul class="chartlist4">
      <li>Men</li>
      <li>Women</li>
    </ul>
    <div class="chart5"></div>
  </div>

</div>
<!---- END ---->

<!---- CHART ROW 4 ---->

<div class= "row">

  <div class="col-xs-6" id="graph6">
  <h4>Executive Positions based on Gender</h4>
    <ul class="chartlist5">
      <li>Men</li>
      <li>Women</li>
    </ul>
    <div class="chart6"></div>
    <p>This was compared to the overall private job sector of, where
       men are at 71%, while women are at 29%.</p>
  </div>

  <div class="col-xs-6" id="graph7">
  <h4>Executive Positions among Race/Ethnicity**</h4>
    <ul class="chartlist6">
      <li>Whites</li>
      <li>Blacks</li>
      <li>Latinos</li>
      <li>Asians</li>
    </ul>
    <div class="chart7"></div>
  </div>

</div>

<!---- END ---->

<div class="row">
  <div class="col-xs-12" id="citation">
    <a href="https://jointventure.org/download-the-2017-index">
    *2017 Silicon Valley Index Report</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" id="citation">
   <a href="https://www.eeoc.gov/eeoc/statistics/reports/hightech/">
    **"Diversity On High Tech". A Report from the U.S Equal Employment
    Opportunity Commission</a>
  </div>
</div>
</div>


<% include ../partials/footer %>
